{% extends "base.html" %}

{% load widget_tweaks %}

{% block body %}

{%load static%}


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(../static/img/carousel-bg-1.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Rendez-vous</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Rendez-vous</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-certificate fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Maintenance</h5>
                            <p>Nous pouvons intervenir sur vos installations de manière régulière afin d'éviter tout type d'incident !</p>
                            <a class="text-secondary border-bottom" href="{% url 'service' %}">Lire plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex bg-light py-5 px-4">
                        <i class="fa fa-users-cog fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Installation</h5>
                            <p>Nous proposons l'installation de tous types de voiture.</p>
                            <a class="text-secondary border-bottom" href="{% url 'service' %}">Lire plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex py-5 px-4">
                        <i class="fa fa-tools fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Dépannage</h5>
                            <p>Nos équipes se déplacent rapidement pour intervenir sur votre urgence.</p>
                            <a class="text-secondary border-bottom" href="{% url 'demande' %}">Lire plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


     <!-- Booking Start -->
     <div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 py-5">
                    <div class="py-5">
                        <h1 class="text-white mb-4">Fournisseur de services de réparation automobile certifié et primé</h1>
                        <p class="text-white mb-0"> En tant que professionnel certifié, nous nous efforçons continuellement d 'offrir des services de réparation de la plus haute qualité, répondant aux normes les plus strictes de l'industrie. Nous remercions nos clients pour leur confiance et nous nous engageons à maintenir notre niveau d'excellence pour répondre à leurs besoins en matière de réparation voiture.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                        <h1 class="text-white mb-4">Rendez-vous pour un service</h1>
                        <form action="#" method="post" enctype="multipart/form-data">

                            {% csrf_token %}

                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    {% render_field form.Full_name type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;" %}
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% render_field form.email type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;" %}
                                </div>
                                <div class="col-12 col-sm-6">
                                    {% render_field form.service type="select" class="form-control border-0" placeholder="Sélectionner un service" style="height: 55px;" %}
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        {% render_field form.Date_reservation class="form-control border-0 datetimepicker-input" placeholder="Date du rendez-vous" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;" %}
                                    </div>
                                </div>
                                <div class="col-12">
                                    {% render_field form.Description type="text" class="form-control border-0" placeholder="Special Request" %}
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-secondary w-100 py-3" type="submit">Nouveau Rendez-vous</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->

    <!-- Call To Action Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-8 col-md-6">
                    <h6 class="text-primary text-uppercase">// APPEL À L'ACTION //</h6>
                    <h1 class="mb-4">Vous avez des questions avant la réservation ?</h1>
                    <p class="mb-0">Besoin d'une assistance routière rapide et fiable ? Réservez notre service de dépannage automobile dès maintenant ! Que vous soyez coincé au bord de la route, que vous ayez une crevaison ou que votre voiture refuse tout simplement de démarrer, notre équipe de professionnels du dépannage est prête à vous aider. Nous offrons un service de dépannage rapide et efficace, 24 heures sur 24, 7 jours sur 7.</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary d-flex flex-column justify-content-center text-center h-100 p-4">
                        <h3 class="text-white mb-4"><i class="fa fa-phone-alt me-3"></i>+221 77 298 91 16</h3>
                        <a href="{% url 'contact' %}" class="btn btn-secondary py-3 px-5">CONTACTEZ-NOUS<i class="fa fa-arrow-right ms-3"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call To Action End -->

{% endblock body %}
